@import '../../assets/styles/common.scss';

.banner {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  margin: $space;

  text {
    margin: $space;

    text-indent: 48rpx;
    line-height:  48rpx;
    font-size: $content-size;
  }
}
