page {
  height: 100%;
}

.userinfo {
  display: flex;
  align-items: center;

  .avatar {
    overflow: hidden;
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #fff;
  }
}
