@import '../../../assets/styles/common.scss';

.add {
  .description {
    padding: 24px 32px;

    color: #333;
    font-size: 32px;

    .area {
      margin-top: 24px;
    }
  }

  .btnContainer {
    padding: 24px 32px;

    :first-child {
      margin-bottom: 16px;
    }
  }
}
