@import '../../../assets/styles/common.scss';

.box {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;

  .button {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: $space-small;
  }

  .scroll {
    background-color: #f3f3f3;

    .header {
      display: flex;
      flex-direction: column;
      margin: 12px 16px;
      padding: 12px;
      background-color: white;

      .title {
        font-size: $title-size-primary;
      }

      .item {
        margin: 12px 0;
        font-size: $title-size-extra;
      }
    }

    .content {
      margin: 12px 16px;
      padding: 12px;
      background-color: white;
    }
  }
}
