@import '../../../assets/styles/common.scss';

.box {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;

  .button {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: $space-small;
    background-color: #eee;
  }

  .scroll {
    
  }
}
