@import '../../assets/styles/common.scss';

.box {
  display: flex;
  flex-direction: column;
  padding: $space;

  border: 1rpx solid $border-color;
  border-radius: 8rpx;

  .title {
    font-size: $title-size-primary;
  }

  .tip {
    display: flex;
    align-items: center;
    padding: $space-small;

    font-size: $title-size-extra;
    color: $title-color-extra;

    image {
      width: 24rpx;
      margin-right: $space-small;
    }
  }

  .line {
    border: 0.5rpx solid $border-color1;
    margin: $space 0;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .money {
      display: flex;
      align-items: center;

      image {
        width: 64rpx;
        margin-right: $space;
      }
    }
  }
}
