$border-color: #1296db;
$border-color1: #DDD;

$title-size-primary: 40rpx;
$title-size-extra: 24rpx;
$title-size-tip: 16rpx;
$title-color-primary: #000;
$title-color-extra: #666;

$content-size: 24rpx;
$content-color: #333;

$space: 16rpx;
$space-small: 8rpx;